* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/*  */

#header .container .inicial{
    display: flex;
    margin: 2rem 10rem ;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.logo {
    color: #30ac55;
    font: 700 1.8rem 'Lucida', sans-serif;
}

.comprar .botao {
    background-color: #30ac55;
    color: white;
    font: 600 1rem 'Lucida', sans-serif;
    border-radius: 0.8rem;
    padding: .625rem 1.25rem;
}

.item {
    font: 500 1rem 'Lucida', sans-serif;
    padding: 0 1.5rem;
    color: rgb(51, 49, 49);
}

.titulo-inicial {
    font: 500 2.5rem 'Lucida', sans-serif;

}

#main .container {
    margin: 0 10rem;
}

.titulo-inicial span {
    color: #30ac55;
}

.quadrado img {
    width: 3.3rem;
}

#main .section .container,
.servicos .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    font: 500 1.35rem 'Lucida', sans-serif;
    margin: 1rem 0 2rem;
}

.botao {
    background-color: #30ac55;
    color: white;
    padding: .625rem 1.25rem;
    border-radius: 1rem;
    border: 1px solid rgb(63, 63, 63);
    font: 500 1rem 'Lucida', sans-serif;
    margin: 0 1.1rem 0 0;
}

.quadrado {
    width: 19rem;
    margin: 3.125rem 1.25rem;
    box-shadow: 5px 5px 3px 5px rgb(112, 112, 112);
    padding: .9375rem;
    border-radius: 0.2rem;
}

.container .quadrado h4 {
    font: 700 1rem 'Lucida', sans-serif;
}

.container .quadrado p {
    text-align: justify;
    font: 300 0.9rem 'Lucida', sans-serif;
}

.linha {
    height: .0625rem;
    background-color: rgb(122, 118, 118);
}
section.descricao {
    display: grid;
    width: 100%;
    grid-template-areas: 
    "form conteudo conteudo"
    "form conteudo conteudo"
    ". conteudo conteudo";
    margin-top: 3.125rem;
}

.forms {
    grid-area: form;
}

.conteudo-descricao2 {
    grid-area: conteudo;
}

form {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding: 1.25rem 1.4rem;
    
}
